<!DOCTYPE html>
<html>

<head>
    <title>Tìm kiếm thành phố</title>
</head>

<body>
    <div class="search-container">
        <form method="post">
            <input type="text" id="cityInput" name="cityInput" placeholder="Nhập tên thành phố...">
            <ul id="resultsList"></ul>

            <button type="submit"> done </button>
        </form>
    </div>
</body>

</html>